* {
    margin:0;
    padding:0;
}

body {
    margin: 10px;
    padding:10px;
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.quadrado1 {
    color: yellow;
    font-size: 40px;
    height: 10px;
    width: 10px;
}

.quadrado2 {
    color: red;
    font-size: 40px;
      height: 10px;
    width: 10px
}

.quadrado3 {
    color: blue;
    font-size: 40px;
      height: 10px;
    width: 10px
}

.quadrado4 {
    color: green;
    font-size: 40px;
      height: 10px;
    width: 10px
}