* {
    margin:0;
    padding:0;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.quadrado1 {
    color: yellow;
    font-size: 40px;
}

.quadrado2 {
    color: red;
    font-size: 40px;
}

.quadrado3 {
    color: blue;
    font-size: 40px;
}

.quadrado4 {
    color: green;
    font-size: 40px;
}